/* Place CSS styles here */
.miku-row-img {
    width: 100%; 
    box-sizing: border-box; 
  }

html {
    scroll-behavior: smooth;
}

.miku-bot-container {
    max-width: 800px;
    margin: 0 auto;
    text-align: justify;
    align-items: center;
}
.snow-angel {
    border: 2px solid rgb(87, 132, 134);
}

.miku-hero {
    background-image: url(../img/mikustack.jpg);
    background-size: cover;
    background-position: center;
    min-height: 400px;
}

.miku-block-text {
    background-color: antiquewhite;
    text-align: center;
    font: size 60px;
    margin: 20px;
}
body {
    color:rgb(98, 30, 78);
    background-color:rgb(68, 136, 137);
    font: size 30px;
    background-image: url(../img/pixel\ art.jpg);
    font-family: "Geo", serif;
    font-weight: 400;
}

.miku-heading {
    text-align: center;
    width: 50px;
    font-size: 50px;
}

.miku-link-heading {
    text-align: justify;
    font-size: 50px;
}

.exercise-div {
    width: 200px;
    padding: 20px;
    border: 5px rgb(0, 0, 0);
    box-sizing: border-box;;
}


.logo {
    width: 125px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.miku-item-row {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: self-start;
}

.miku-flex-container {
    display: flex;
    flex-direction: column;
    min-width: 100vh;
    margin: auto;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(104, 184, 184);
    padding: 10px;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;
  }

.navbar a {
    padding: 10px;
    display: flex;
}

.miku-info {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    box-sizing: border-box;
}

a {
    color: blue;
}

a:hover{
    color: rgb(178, 73, 73);
}


footer {
    background-color:rgb(68, 136, 137);
    font: size 50px;
    padding: 20px;
    text-align: center;
}