/* Place CSS styles here */
html {
    scroll-behavior: smooth;
}

.miku-bot-container {
    max-width: 800px;
    margin: 0 auto;
    text-align: justify;
    align-items: center;
}
.snow-angel {
    border: 2px solid rgb(87, 132, 134);
}

.miku-hero {
    background-image: url(../img/mikustack.jpg);
    background-size: cover;
    background-position: center;
    min-height: 400px;
}

.miku-block-text {
    background-color: antiquewhite;
    text-align: center;
    font: size 60px;
    margin: 20px;
}
body {
    color:rgb(98, 30, 78);
    background-color:rgb(68, 136, 137);
    font: size 30px;
    background-image: url(../img/pixel\ art.jpg);
    font-family: "Geo", serif;
    font-weight: 400;
}

.miku-heading {
    text-align: center;
    font-size: 50px;
}

a {
    color: blue;
}

a:hover{
    color: rgb(178, 73, 73);
}


footer {
    background-color:rgb(68, 136, 137);
    font: size 50px;
    padding: 20px;
    text-align: center;
}